<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi atque iusto ad sit reiciendis saepe dolorem recusandae inventore molestias odit libero obcaecati consectetur quasi quia, vero eaque! Pariatur, quod nesciunt. <%= title %></p>
  </body>
</html>
